<!DOCTYPE html>
[[define "base"]]
<html>
    <head>
        <link rel="stylesheet" href="/css/semantic.css"/>
        <link rel="stylesheet" href="/css/jquery-ui.css"/>
        <link rel="stylesheet" href="/css/jquery.timepicker.css"/>
        <link rel="stylesheet" href="/css/pikaday.css"/>
        <link rel="stylesheet" href="/css/todo.css"/>

        <script defer src="/js/jquery.js"></script>
        <script defer src="/js/jquery-ui.js"></script>
        <script defer src="/js/semantic.js"></script>
        <script defer src="/js/moment.js"></script>
        <script defer src="/js/handlebars.js"></script>
        <script defer src="/js/pikaday.js"></script>
        <script defer src="/js/jquery.timepicker.js"></script>
        <script defer src="/js/masonry.pkgd.js"></script>
        <script defer src="/js/es6-promise.js"></script>
        <script defer src="/js/todo.js"></script>
    </head>
    <body>
        [[template "body" .]]
    </body>
</html>
[[end]]